<!DOCTYPE HTML>

<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<title>叶子的旅行社</title>

<meta content="叶子的旅行社" name="keywords" />

<meta content="叶子的旅行社" name="description" />

<link href="../css/base.css" rel="stylesheet" type="text/css">

<link href="../css/pagename.css" rel="stylesheet" type="text/css">
</head>
<body>
<!--header-->
<div class="header"> 
	<div class="w1000">
    	<p>你好，欢迎光临叶子旅行社！</p>
        <div class="contact"><a href="../index.html">设为首页</a> <a href="../index.html">加入收藏</a></div>
	</div>
</div>
<div class="w1000">
	<div class="header_bottom">
			<a href="../index.html"><img src="../images/logo.jpg" width="294" height="49" alt="" title="叶子旅行社"></a>
       		<ul>
            	<li><a href="../index.html">网站首页</a></li>       
                <!-- <li><a href="historic.html">历史</a></li> -->     
                <li><a href="beautiful.html">风景</a></li>        
                <li><a href="tourism.html">旅游</a></li>      
                <li><a href="delicacy.html">美食</a></li>      
                <li><a href="new.html">动态</a></li>
                <li><a href="login.html">登陆/注册</a></li> 
                <!-- <li><a href="regist.html">注册</a></li> -->      
                <li><a href="leave.html">留言</a></li>      
				<li><a href="about.html">团队介绍</a></li>   
                <li><a href="connection.html">联系我们</a></li>
     		</ul>  
    </div>       
</div>
<!--header结束--> 
<div class="container"> 		
		<!--banner-->
		<div class="banner_erji">
        	<img src="../images/banner_erji5.jpg" width="1000" height="187" alt="" title="">
        </div>
		<!--banner end--> 
		<!--content-->
		<div class="content clearfix">
        	<div class="leftbar">
            	<div class="leftnav">
                	<h1>新闻分类</h1>
                	<ul class="ul_left">
        <li>
        	<h3><a href="new.html">旅游动态</a></h3>
		</li>
        <li>
        	<h3><a href="newest.html">旅游公告</a></h3>
		</li>
         	</ul>     
              </div>
                <div class="left_lx">
                	<h1>联系方式</h1>
                    <p>地址：湖北省武汉市武汉轻工大学</p>
                      <p>联系人：何宏业</p>
                      <p>电话：027-7777777</p>
                      <p>QQ：1790350989</p>
                      <p>网址：http://localhost:8080/Travel/index.html</p>
                      <p>邮编：430023</p>
                </div>
            </div>
        	<div class="rightbar">
            	<div class="bread"><a href="../index.html">首页</a> >最新动态</div>
			<ul class="ul_news">
        <li><span>2016-07-02</span><a href="#">大数据:网友推荐暑期旅游热门景点排行榜</a></li>
        <li><span>2016-07-02</span><a href="#">大数据:网友推荐暑期旅游热门景点排行榜</a></li>
        <li><span>2016-07-02</span><a href="#">大数据:网友推荐暑期旅游热门景点排行榜</a></li>
        <li><span>2016-07-02</span><a href="#">大数据:网友推荐暑期旅游热门景点排行榜</a></li>
              </ul>
                <div class="paging"></div>
            </div>
        </div>
		<!--content end--> 
</div>
<!--footer开始-->
<div class="footer"> 
	<p><a href="../index.html">首页</a> | <a href="beautiful.html">风景</a> 
	| <a href="tourism.html">旅游</a> | <a href="delicacy.html">美食</a> 
	| <a href="new.html">动态</a> | <a href="leave.html">旅游</a>
	| <a href="connection.html">联系我们</a>| <a href="houtai.html">后台管理</a>
	</p>
<p>Copyright &copy; 2015－2016 All Rights Reserved 版权所有 XXXXXXXXXXXXXXXXXX</p>
  <!-- <p>地址：XXXXXXXXXXXXXXXXXX  来源:<a href="http://www.mycodes.net/" target="_blank">源码之家</a></p> -->
</div>
<!--footer 结束--> 
</body>
</html>